.view>.canvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

body {
    background-color: #332929;
    background-image: url('./assets/bg.png');
}

.input-add {
    position: fixed;
    left: 200px;
    top: 80px;
}

.input-add {
    font-size: 0;
}

.input-add>* {
    vertical-align: top;
    font-size: 16px;
}

.input-add>input {
    height: 40px;
    display: inline-block;
    width: 220px;
    background-color: #c5c0c0;
    padding: 10px;
    color: #fff;
}

.input-add>span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #000;
    font-size: 30px;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.fork {
    position: fixed;
    transform: rotate(45deg);
    line-height: 1.6em;
    transform-origin: 150px 23px;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    bottom: 53px;
    left: -91px;
    width: 300px;
    background-color: #ff0000;
    outline: 4px solid #ff0000;
    border: 2px dashed #ffffff;
    color: #ffffff;
}
